<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
        <title>Index</title>        
    </header>
    <body>
        <form action="{{ url_for('index') }}" method="POST" class="login_form">
            <input class="input" type="text" placeholder="Login" name="username">
            <input class="input" type="password" placeholder="Password" name="password">
            <button class="login_btn" type="submit">Login</button>
        </form>
    </body>
    <footer>
    </footer>
</html>